<section class="hero is-fullheight">

    <h1>About the authors</h1>
    <style>
        h1 {text-align: center; color: black; font-size:300%; margin-top: 3%;}
    </style>
    <nav class="level">
        <div class="level-left">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                    <span>
                        <div>Name: Ana Oprea</div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>GitHub account:
                            <a href="https://github.com/anaoprea21" >https://github.com/anaoprea21</a>
                        </div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>E-mail: ana.oprea@yahoo.com
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="level-right">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                    <span>
                        <div>Name: Luca Lazar</div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>GitHub account:
                            <a href="https://github.com/lucaluca8/Nice-projects" >https://github.com/lucaluca8/Nice-projects</a>
                        </div>
                    </span>
                    </div>
                    <div class="content">
                    <span>
                        <div>E-mail: lucaluca_9@yahoo.com
                        </div>
                    </span>
                    </div>
                </div>
            </div>
        </div>

    </nav>

</section>