.checkbox{
    position: relative;
}
.button{
    margin-left: 12%;
    margin-top:12%
}
.hero{
    background-image: url('/assets/bkg2.png');
    background-size:cover;
    background-position:center center;
}
.input{
    width: 55%;
    display: block;
    margin-left: 24%;
    margin-bottom: 5%;
    
}
.field{
    margin-left: 24%;   
}