.level-left{
    width: 45%;
}

.level-right{
    width: 50%;
    overflow: hidden;
}

.notification.show{
    animation: show_slide 1s ease forwards;
}

@keyframes show_slide {
    0%{
        transform: translateX(100%);
    }
    40%{
        transform: translateX(-10%);
    }
    80%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-10px);
    }
}

.notification.hide{
    display: none;
}