.hero{
    background-image: url('/assets/registBkg.jpg');
    background-size:cover;
    background-position:center center;
}
.input{
    width:50%;
    margin-left:27%
}
.button{
    width:50%;
    margin-left: 27%;
}
.field{
    margin-left: 27%;
}
.help{
    text-align:center;
    color:rgb(238, 0, 0);
    background-color: white;
    width:50%;
    margin-left: 27%
}
