<section class="hero is-primary is-fullheight">
    <div class="hero-body ">
        <div class="container has-text-centered">
      <h1 class="title is-1 is-family-monospace has-text-light"
      style="text-align: center;">
        Welcome to AnimeList
      </h1>     
      <button routerLink="/login"  class="button is-medium is-fullwidth is-rounded is-danger is-outlined is-family-monospace is-black">LogIn</button>
      <button routerLink="/register" class="button is-medium is-fullwidth is-rounded is-link is-family-monospace is-black">Register</button>
    </div>
  </div>
</section>
