<nav class="navbar is-black " role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtJYValjKKJ5oJ1mHu6x-MEGL8gYjGG0uKQg&usqp=CAU" 
            is-clickable="false">
        </a>
        <a class="navbar-item" font-weight="bold" font-size="10" href="#">My anime list</a>
        
      <!-- navbar items, navbar burger... -->
    </div>
    <div class="navbar-end">
      <button class="button is-black" routerLink="/register">Register</button>
      <button class="button is-black" routerLink="/login">Login</button>
      <button class="button is-black" routerLink="/search">Anime Ranking</button>
      <button class="button is-black" routerLink="/search/1">Anime Page Sample</button>
      <button class="button is-black" routerLink="/search/manage/account">Manage Account</button>
      <button class="button is-black" routerLink="/search/manage/anime">Manage Anime</button>
      <button class="button is-black" routerLink="/support">About</button>
    </div>
  </nav>
