.content {
    margin: 3rem 7rem;
  }

  table {
    width: 100%;
    margin-top: 2rem;
    opacity: 70%;

  
    th.mat-header-cell {
      background-color: #3f51b545;
      font-weight: bold;
      font-size: 16px;
    }
  }
  .help{
    color:rgb(238, 0, 0);
}

.hero{
  background-image: url('/assets/q.jpg');
}


